<section
  *ngIf="show === true"
  class="wordbreak"
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayoutGap="2vw"
>
  <div
    *ngIf="data.searchVideo === undefined || data.searchVideo === ''"
    fxLayout="row"
    fxLayoutGap="1vw"
  >
    <h4>{{ data.question }}</h4>
    <section fxLayoutAlign="center center">
      <button
        *ngIf="showBackButton === false"
        mat-flat-button
        color="accent"
        (click)="clickShowCanvas()"
      >
        Lösung
      </button>
    </section>
  </div>
  <div
    *ngIf="data.searchVideo !== undefined && data.searchVideo !== ''"
    fxLayout="row"
    fxLayoutGap="1vw"
  >
    <h4>{{ data.question }}</h4>
    <section fxLayoutAlign="center center">
      <button
        *ngIf="showBackButton === false"
        mat-flat-button
        color="accent"
        (click)="clickShowCanvas()"
      >
        Lösung
      </button>
      <!-- <button
        *ngIf="showBackButton === false"
        mat-flat-button
        color="accent"
        (click)="clickShowVideo()"
        style="margin-left: 10px"
      >
        Lösungs Video
      </button> -->
    </section>
  </div>

  <div fxLayout="row" *ngIf="data.searchPicture !== ''">
    <section *ngIf="pictureFlag">
      <img
        [src]="data.searchPicture"
        [width]="pictureSize.width"
        [height]="pictureSize.height"
      />
    </section>
    <section *ngIf="!pictureFlag">
      <button mat-flat-button color="primary" (click)="changePictureFlag()">
        Bild anzeigen
      </button>
    </section>
  </div>

  <div
    fxLayout="row"
    *ngIf="data.searchVideo !== undefined && data.searchVideo !== ''"
  >
    <iframe
      style="z-index: 10000"
      [width]="videoSize.width"
      [height]="videoSize.height"
      [src]="youtubeQuestionLink"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
      muted
    ></iframe>
  </div>

  <div
    fxLayout="row"
    *ngIf="data.searchAudio !== undefined && data.searchAudio !== ''"
  >
    <button
      mat-fab
      (click)="playVoiceline()"
      style="margin-top: 22px; margin-right: 10px"
    >
      <mat-icon>{{
        audioPlayer.paused ? "play_circle_outline" : "stop"
      }}</mat-icon>
    </button>
    <audio #audioPlayer [src]="data.searchAudio"></audio>
    <canvas id="waveformCanvas" width="800" height="100"></canvas>
  </div>
</section>

<section *ngIf="showGesuchtesBild === true">
  <div fxLayoutGap="row">
    <div fxLayout="column">
      <img
        [src]="data.markedPicture"
        [width]="pictureSize.width"
        [height]="pictureSize.height"
      />
    </div>
    <div fxLayout="column">
      <button
        style="z-index: 9999"
        mat-flat-button
        color="accent"
        (click)="clickShowQuestion()"
      >
        Zur Frage
      </button>
    </div>
  </div>
</section>

<section
  *ngIf="showBackButton === true"
  class="wordbreak"
  fxLayout="column"
  fxLayoutAlign="end center"
  fxLayoutGap="2vw"
>
  <section>
    <button
      style="margin-left: 93vw; z-index: 9999"
      mat-flat-button
      color="accent"
      (click)="clickShowQuestion()"
    >
      Zur Frage
    </button>
    <button *ngIf="data.markedPicture !== ''"
      style="margin-left: 93vw; z-index: 9999; margin-top: 10px"
      mat-flat-button
      color="accent"
      (click)="clickShowGesuchtesBild()"
    >
      Gesuchtes Bild
    </button>
  </section>
</section>

<section *ngIf="showVideo === true">
  <iframe
    style="z-index: 10000; position: absolute; top: 15%; left: 26%"
    [width]="videoSize.width"
    [height]="videoSize.height"
    [src]="youtubeLink"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
    muted
  ></iframe>
</section>
