<section class="wordbreak" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="2vw">
    <h4>{{data.question}}</h4>
</section>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<section fxLayoutAlign="center center" *ngIf="hideAll === false">
    <img [src]="data.errorPicture" [width]="errorPictureSize.width" [height]="errorPictureSize.height" *ngIf="showCorrected === false">
    <img [src]="data.correctedPicture" [width]="correctedPictureSize.width" [height]="correctedPictureSize.height" *ngIf="showCorrected === true">
</section>