.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Stellt sicher, dass das Video hinter anderen Elementen liegt */
    overflow: hidden;
  }

  .wordbreak {
    white-space: pre-wrap;
  }