mat-icon {
  transform: scale(1.8) !important;
}

.mat-teal1 {
  background-color: rgb(0, 168, 168);
  color: #fff;
}

.mat-teal2 {
  background-color: rgb(0, 130, 130);
  color: #fff;
}

.mat-teal3 {
  background-color: teal;
  color: #fff;
}

.mat-teal4 {
  background-color: rgb(0, 100, 100);
  color: #fff;
}

.mat-teal5 {
  background-color: rgb(0, 87, 87);
  color: #fff;
}