<section fxLayout="row" fxLayoutGap="4vw">
  <!-- Multiple choice questions -->
  <section fxLayout="column" fxLayoutAlign=" center" fxLayoutGap="2vh" *ngFor="let item of concatQuestions, index as i">
    <!-- Hier Imagoe Gothic Charakter einbinden -->
    <div><img [src]="images[i]" width="84" height="100"></div> 
    <section *ngFor="let question of item, index as j">

      <section *ngIf="doubleThreshold <= 14">
        <button (click)="onClickOpenDialog(question,i,j)" mat-flat-button style="height: 8vh; width: 15vh; border: 3px solid black; font-size: x-large;" [color]="usedQuestionColors[i][j]">{{points[j]}}</button>
      </section>

      <section *ngIf="doubleThreshold > 14">

        <section *ngIf="usedQuestionColors[i][j] == 'bonus' || usedQuestionColors[i][j] == ''">
          <button (click)="onClickOpenDialog(question,i,j)" mat-flat-button style="height: 8vh; width: 15vh; border: 3px solid black; font-size: x-large;" [color]="usedQuestionColors[i][j]">{{points[j]}}</button>
        </section>

        <section *ngIf="usedQuestionColors[i][j] != 'bonus' && usedQuestionColors[i][j] != ''">
          <button (click)="onClickOpenDialog(question,i,j)" mat-flat-button style="height: 8vh; width: 15vh; border: 3px solid black; font-size: x-large;" [color]="usedQuestionColors[i][j]">{{doublePointsAfter15Questions[j]}}</button>
        </section>

      </section>

    </section>
  </section>

</section>
