::ng-deep .snackbarRed {
    background: #ff6461 !important;
    color: white !important;
  }
  
  ::ng-deep .snackbarGreen {
    background: #1aa193 !important;
    color: white !important;
  }

  .buzz{
    width: 45vw; 
    height: 45vh; 
    z-index: 9999; 
    position: fixed; 
    top: 40%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    display: none;
  }

  // G3 GEO!
  /* .geo{
    z-index: 9999; 
    position: fixed; 
    top: 1%; 
    left: 30%; 
    transform: translate(-50%, -50%);
    display: none;
  } 
  
  #geo{
    -moz-transform: scale(0.88, 0.88); 
    -webkit-transform: scale(0.88, 0.88); 
    -o-transform: scale(0.88, 0.88);
    -ms-transform: scale(0.88, 0.988);
    transform: scale(0.88, 0.88); 
    -moz-transform-origin: top left;
    -webkit-transform-origin: top left;
    -o-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
  }*/

  // G1 G2 Geo!
  .geo{
    z-index: 9999; 
    position: fixed; 
    top: 1%; 
    left: 30%; 
    transform: translate(-50%, -50%);
    display: none;
  }

  #geo{
    -moz-transform: scale(1, 1); 
    -webkit-transform: scale(1, 1); 
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1); 
    -moz-transform-origin: top left;
    -webkit-transform-origin: top left;
    -o-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
  }