
    <section fxLayout="row" fxLayoutGap="10vw">
      <section fxLayout="column">
        <section fxLayout="row" style="font-size: large;">{{ data.options.option1 }}</section>
        <br>
        <section fxLayout="row" style="font-size: large;">{{ data.options.option2 }}</section>
      </section>
  
      <section fxLayout="column">
        <section fxLayout="row" style="font-size: large;">{{ data.options.option3 }}</section>
        <br>
        <section fxLayout="row" style="font-size: large;">{{ data.options.option4 }}</section>
      </section>
    </section>
