.player{
    border: solid #62fcaf;
}
mat-icon {
  cursor: pointer;
  transition: color 0.3s ease;
}

.activeRed {
  color: #62fcaf;
}

.activeBlue {
  color: #62fcaf;
}

.inactive {
  color: gray;
  opacity: 0.2;
}