<section fxLayout="column" fxLayoutAlign="center center" fxFill>
  <section fxLayout="row" style="font-size: large; font-weight: bold">
    {{ data.question }}
  </section>

  <br />

  <!-- ////////////////////////////////////////////////////// -->

  <section>
    <div fxLayout="row" fxFlex *ngIf="data.kind === 'Multiple-Choice-Fragen'">
      <section fxFlex>
        <app-multipleChoice
          [data]="data"
        ></app-multipleChoice>
      </section>
    </div>

    <div fxLayout="row" fxFlex *ngIf="data.kind === 'Voiceline-Fragen'">
      <section fxFlex>
        <app-voiceline></app-voiceline>
      </section>
    </div>
  </section>

  <!-- ///////////////////////////////////////////////////// -->

  <br />

  <section fxLayout="row">
    <button
      mat-flat-button
      color="accent"
      *ngIf="showAnswer === false"
      (click)="clickShowAnswer()"
    >
      Lösung
    </button>
    <section *ngIf="showAnswer === true" style="font-size: larger">
      Die richtige Antwortet lautet: {{ data.correctAnswer }}
    </section>
  </section>

  <br />

  <section fxLayout="row" fxLayoutGap="2vw">
    <section
      fxFlex="{{ setWidth }}"
      fxLayoutAlign="center"
      *ngFor="let p of playerCount; index as i"
    >
      <mat-card>
        <mat-card-content
          [style]="cardStyle"
          [style.display]="visibleWaiting.display"
          class="card-color"
        >
          Die Spieler bearbeiten die Aufgaben...
        </mat-card-content>
      </mat-card>
    </section>
  </section>

  <section fxLayout="row" fxLayoutGap="2vw">
    <section
      fxFlex="{{ setWidth }}"
      fxLayoutAlign="center"
      *ngFor="let p of playerCount; index as i"
    >
      <app-whiteboard
        [style.display]="visibleBoard.display"
        [url]="whiteboardUrls[i]"
      ></app-whiteboard>
    </section>
  </section>

  <br />

  <section fxLayout="row">
    <button
      mat-flat-button
      color="accent"
      *ngIf="showButtons === false"
      (click)="clickShowBoards()"
    >
      Whiteboards aufdecken
    </button>
  </section>
</section>
