<!-- ________________________________________________REFACTORE_______________________________________________________________ -->

<section fxLayout="column" fxLayoutAlign="center center" fxFill>

  <!-- Zeigt Fragen und Antworten der inneren Frage Komponenten an -->
  <section>

    <div fxLayout="row" fxFlex *ngIf="data.kind === 'Multiple-Choice-Fragen'">
      <section fxFlex>
        <app-multipleChoice [data]="data"></app-multipleChoice>
      </section>
    </div>

    <div fxLayout="row" fxFlex *ngIf="data.kind === 'Voiceline-Fragen'">
      <section fxFlex>
        <app-voiceline [data]="data"></app-voiceline>
      </section>
    </div>

    <div fxLayout="row" fxFlex *ngIf="data.kind === 'Fehlersuche-Frage'">
      <section fxFlex>
        <app-errorPicture [data]="data"></app-errorPicture>
      </section>
    </div>

    <div fxLayout="row" fxFlex *ngIf="data.kind === 'Geo-Frage'">
      <section fxFlex>
        <app-geogeussr [data]="data"></app-geogeussr>
      </section>
    </div>

    <div  fxLayout="row" fxFlex *ngIf="data.kind === 'Schätz-Frage'">
      <section fxFlex>
        <app-guessing [data]="data"></app-guessing>
      </section>
    </div>

  </section>

  <br>

  <!-- Lösung Button -->
  <section fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1vw">
    <button
      mat-flat-button
      color="accent"
      *ngIf="showLButton === true"
      (click)="clickShowAnswer(); clickHideBoard(); clickSwitchPictures()"
    >
      Lösung
    </button>
  </section>

  <br>

  <!-- Zeigt Whiteboard, WhiteboardPlaceholder und Bearbeite Fläche an -->
  <section>
    <section fxLayout="row" fxLayoutGap="2vw">
      <section
        fxFlex="{{ setWidth }}"
        fxLayoutAlign="center"
        *ngFor="let p of playerCount; index as i"
      >
        <section>
          <app-whiteboard
            [style.display]="visibleBoard.display"
            [url]="whiteboardUrls[i]"
            [index]="i"
            [blockName]="blockNames[i]"
          ></app-whiteboard>
        </section>

        <section *ngIf="data.kind !== 'Fehlersuche-Frage' && data.kind !== 'Geo-Frage' && data.kind !== 'Schätz-Frage'">
          <mat-card>
            <mat-card-content
              fxLayout="column"
              fxLayoutAlign="center center"
              fxLayoutGap="1vh"
              [style]="cardStyle"
              [style.display]="visibleWaiting.display"
              class="card-color"
            >
              <div style="font-size: xx-large; font-weight: bold">
                {{ playerNames[i] }}
              </div>
              <div style="font-size: xx-large; font-weight: bold">
                bearbeitet die Aufgabe
              </div>
            </mat-card-content>
          </mat-card>
          <br>
        </section>
      </section>
    </section>



    <section
      fxLayout="row"
      fxLayoutAlign="center center"
      fxLayoutGap="2vw"
      *ngIf="showAnswer === false || showLButton === false"
    >
      <button
        mat-flat-button
        color="accent"
        *ngIf="showButtons === false || showLButton === false"
        (click)="clickShowBoards(); hideAnswer(); clickShowLButton()"
      >
        Whiteboards aufdecken
      </button>
      <app-timer
        *ngIf="showButtons === false"
        [remainingTime]="timer.guess"
      ></app-timer>
    </section>
  </section>
</section>
