<section
  *ngIf="show === true"
  class="wordbreak"
  fxLayout="row"
  fxLayoutAlign="center center"
  fxLayoutGap="2vw"
  class="wordbreak"
>
  <h4>{{ data.question }}</h4>

  <button
    *ngIf="data.hasOwnProperty('audio')"
    mat-fab
    (click)="playVoiceline()"
  >
    <mat-icon>play_circle_outline</mat-icon>
  </button>

  <button
    *ngIf="data.hasOwnProperty('video')"
    (click)="showVideoAnswer()"
    mat-flat-button
    color="accent"
  >
    Lösung
  </button>

  <button
    *ngIf="data.hasOwnProperty('picture')"
    (click)="showPictureAnswer()"
    mat-flat-button
    color="accent"
  >
    Lösung
  </button>

  <audio
    *ngIf="data.hasOwnProperty('audio')"
    #audioPlayer
    [src]="data.audio"
  ></audio>
</section>

<section
  *ngIf="show === false"
  fxLayout="row"
  fxLayoutAlign="center center"
  fxLayoutGap="2vw"
>
  <button
    (click)="showQuestion()"
    mat-flat-button
    color="accent"
    aria-label="Example icon button with a home icon"
  >
    Frage anzeigen
  </button>
</section>
<section *ngIf="showVideo === false && showPicture === false">
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
</section>
<section
  fxlayout="row"
  fxLayoutAlign="center center"
  *ngIf="showVideo === true"
>
  <iframe
    [width]="videoSize.width"
    [height]="videoSize.height"
    [src]="youtubeLink"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
    muted
  ></iframe>
  <br />
  <br />
  <br />
  <br />
</section>

<section
  fxlayout="row"
  fxLayoutAlign="center center"
  *ngIf="showPicture === true"
>
  <img
    [src]="data.picture"
    [width]="pictureSize.width"
    [height]="pictureSize.height"
  />
</section>

<section fxLayout="row" style="width: 90vw">
  <div
    fxFlex
    fxLayoutAlign="center center"
    fxLayoutGap="1vw"
    *ngFor="let player of players; index as i"
  >
    <p style="font-size: large; font-weight: bold">{{ player.name }}</p>
    <button
      (click)="decreasePoints(i, player)"
      mat-flat-button
      color="primary"
      aria-label="Example icon button with a home icon"
    >
      -50 Gold
    </button>
  </div>
</section>
