<section
  *ngIf="show === true"
  class="wordbreak"
  fxLayout="row"
  fxLayoutAlign="center center"
  fxLayoutGap="2vw"
  class="wordbreak"
>
  <h4>{{ data.question }}</h4>

  <button
    *ngIf="data.hasOwnProperty('audio')"
    mat-fab
    (click)="playVoiceline()"
  >
    <mat-icon>play_circle_outline</mat-icon>
  </button>

  <button
    *ngIf="data.hasOwnProperty('video') && showLsgButton === true"
    (click)="showVideoAnswer()"
    mat-flat-button
    color="accent"
  >
    Lösung
  </button>

  <button
    *ngIf="(data.hasOwnProperty('picture') && showLsgButton === true) || (data.hasOwnProperty('audioAnswer') && showLsgButton === true)"
    (click)="showPictureAnswer()"
    mat-flat-button
    color="accent"
  >
    Lösung
  </button>

  <audio
    *ngIf="data.hasOwnProperty('audio') && showLsgButton === true"
    #audioPlayer
    [src]="data.audio"
  ></audio>

  <audio
    *ngIf="data.hasOwnProperty('audioAnswer') && showLsgButton !== true"
    #audioPlayer
    [src]="data.audioAnswer"
  ></audio>
</section>

<section
  *ngIf="showPictureQuestion === true && data.hasOwnProperty('pictureQuestion')"
>
  <img
    [src]="data.pictureQuestion"
    [width]="questionPictureSize.width"
    [height]="questionPictureSize.height"
    style="z-index: 10000; position: absolute; top: 20%; left: 60%"
  />
</section>

<section
  *ngIf="showPictureQuestion === true && data.hasOwnProperty('videoQuestion')"
>
  <iframe
    style="z-index: 10000; position: absolute; top: 10%; left: 64%"
    [width]="'684'"
    [height]="'464'"
    [src]="youtubeLink"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
    muted
  ></iframe>
</section>

<section
  *ngIf="showLsgButton === false"
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayoutGap="2vw"
  style="margin-bottom: 10px"
>
  <section></section>
  <button
    (click)="showQuestion()"
    mat-flat-button
    color="accent"
    aria-label="Example icon button with a home icon"
  >
    Frage anzeigen
  </button>
</section>
<section *ngIf="showVideo === false && showPicture === false">
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
</section>
<section
  fxlayout="row"
  fxLayoutAlign="center center"
  *ngIf="showVideo === true"
>
  <iframe
    [width]="videoSize.width"
    [height]="videoSize.height"
    [src]="youtubeLink"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
    muted
  ></iframe>
  <br />
  <br />
  <br />
  <br />
</section>

<section
  fxlayout="row"
  fxLayoutAlign="center center"
  *ngIf="showPicture === true"
>
  <img *ngIf="data.picture !== undefined"
    [src]="data.picture"
    [width]="pictureSize.width"
    [height]="pictureSize.height"
  />
  <img *ngIf="data.picture === undefined"
    [src]="data.picture"
    [width]="placeholderSize.width"
    [height]="placeholderSize.height"
    style="visibility: hidden;"
  />
</section>

<section fxLayout="row" style="width: 90vw; margin-top: 25px">
  <div
    fxFlex
    fxLayoutAlign="center center"
    fxLayoutGap="1vw"
    *ngFor="let player of players; index as i"
  >
    <p style="font-size: medium; font-weight: bold">{{ player.name }}</p>
    <button
      style="z-index: 9999"
      (click)="decreasePoints(i, player)"
      mat-flat-button
      color="primary"
      aria-label="Example icon button with a home icon"
    >
      -50 Gold
    </button>
  </div>
</section>
