.card-color{
    background-color: white !important;
    color: black !important;
}

.mat-card{
    padding: 0 !important;
    margin: 0 !important;
}

mat-icon {
    transform: scale(1.8) !important;
  }